# FASE 01 - VISUALIZAÇÃO DE DADOS

## AULA 01 - TRATAMENTO, EXPLORAÇÃO E VISUALIZAÇÃO DE DADOS

### FIRST VIDEO

In [1]:
import pandas as pd
from io import StringIO

In [2]:
ibge_estimativa = pd.read_excel('../data/02-pos-data-analytics-visualizacao-de-dados/estimativa_dou_2020.xls',
                               skiprows=1)
ibge_estimativa.head()

  BRASIL E UNIDADES DA FEDERAÇÃO  Unnamed: 1 POPULAÇÃO ESTIMADA
0                         Brasil         NaN          211755692
1                   Região Norte         NaN           18672591
2                       Rondônia         NaN            1796460
3                           Acre         NaN             894470
4                       Amazonas         NaN            4207714

In [3]:
dados_da_populacao = """Posição	Unidade federativa	População(Censo de 2010)	População(Prévia 2022)	Mudança	% da pop. total	País comparável
1	 São Paulo	41 262 199	46 024 937	+11.5%	22,2%	Flag of Spain.svg Espanha (46 754 778)
2	 Minas Gerais	19 597 330	20 732 660	+5.8%	10,0%	 Burquina Fasso (20 903 273)
3	 Rio de Janeiro	15 989 929	16 615 526	+3.9%	8,0%	Camboja Camboja (16 718 965)
4	Bahia Bahia	14 016 906	14 659 023	+4.6%	7,1%	 Zimbabwe (14 862 924)
5	 Paraná	10 444 526	11 835 379	+13.3%	5,7%	 Tunísia (11 818 619)
6	 Rio Grande do Sul	10 693 929	11 088 065	+3.7%	5,3%	 Cuba (11 326 616)
7	 Pernambuco	8 796 448	9 051 113	+2.9%	4,4%	 Áustria (9 006 398)
8	 Ceará	8 452 381	8 936 431	+5.7%	4,3%	 Papua-Nova Guiné (8 947 024)
9	Pará Pará	7 581 051	8 442 962	+11.4%	4,1%	 Suíça (8 654 622)
10	 Santa Catarina	6 248 436	7 762 154	+24.2%	3,7%	 Paraguai (7 132 538)
11	 Goiás	6 003 788	6 950 976	+15.8%	3,3%	 Bulgária (6 948 445)
12	 Maranhão	6 574 789	6 800 605	+3.4%	3,3%	 Bulgária (6 948 445)
13	 Espírito Santo	3 514 952	4 108 508	+13.1%	1,9%	 Geórgia (3 989 167)
14	 Paraíba	3 766 528	4 030 961	+7.0%	1,9%	 Geórgia (3 989 167)
15	 Amazonas	3 483 985	3 952 262	+13.4%	1,9%	 Geórgia (3 989 167)
16	 Mato Grosso	3 035 122	3 784 239	+24.7%	1,8%	 Geórgia (3 989 167)
17	 Rio Grande do Norte	3 168 027	3 303 953	+4.3%	1,6%	 Uruguai (3 473 730)
18	 Piauí	3 118 360	3 270 174	+4.9%	1,6%	 Bósnia e Herzegovina (3 280 819)
19	 Alagoas	3 120 494	3 125 254	+0.2%	1,5%	 Mónaco (3 278 290)
20	 Distrito Federal	2 570 160	2 923 369	+13.7%	1,4%	 Armênia (2 963 243)
21	 Mato Grosso do Sul	2 449 024	2 833 742	+15.7%	1,4%	 Albânia (2 877 797)
22	 Sergipe	2 068 017	2 211 868	+7.0%	1,1%	 Gabão (2 225 734)
23	 Rondônia	1 562 409	1 616 379	+3.5%	0,8%	 Bahrein (1 701 575)
24	 Tocantins	1 383 445	1 584 306	+14.5%	0,8%	 Guiné Equatorial (1 402 985)
25	 Acre	733 559	829 780	+13.1%	0,4%	 Comores (869 601)
26	 Amapá	669 526	774 268	+15.6%	0,4%	 Guiné (786 552)
27	 Roraima	450 479	634 805	+40.9%	0,3%	 Montenegro (649 335)"""

# fonte: https://pt.wikipedia.org/wiki/Lista_de_unidades_federativas_do_Brasil_por_popula%C3%A7%C3%A3o

In [4]:
dados_da_populacao_io = StringIO(dados_da_populacao)
novos_dados = pd.read_csv(dados_da_populacao_io, sep="\t")
novos_dados = novos_dados.dropna()
populacao = novos_dados[['Posição', 'Unidade federativa', 'População(Prévia 2022)', '% da pop. total', 'País comparável']]
populacao.columns = ["posicao", "uf", "_populacao", "porcentagem", "pais_comparavel"]

#OLD WAY, GENERATING SettingWithCopyWarning
# populacao["populacao"] = populacao["populacao"].str.replace(" ", "").astype(int) 

#NEW WAY, NO WARNINGs, USING LIST COMPREHESSION
populacao.insert(2, "populacao", [int(value.replace(' ', '')) for value in populacao["_populacao"]], True)

populacao = populacao[["uf", "populacao"]]
populacao.head()

                uf  populacao
0        São Paulo   46024937
1     Minas Gerais   20732660
2   Rio de Janeiro   16615526
3      Bahia Bahia   14659023
4           Paraná   11835379

#### !Challenge: clean IBGE excel, similar to wikipedia source, only federative units (UF) and proper column names

It was used **skiprows** to facilitate data reading already

In [5]:
# 01 DROPING USELESS COLUMN
ibge_estimativa = ibge_estimativa.drop(columns=['Unnamed: 1'])

In [6]:
# 02 USING UF LIST FROM WIKIPEDIA DATA
# BEFORE WE CREATE THE LIST, WE NEED TO FIX WRONG SPELLING
populacao['uf'] = populacao['uf'].replace('Bahia Bahia', 'Bahia').replace('Pará Pará', 'Pará')
uf_list = populacao['uf'].str.strip().tolist()

In [7]:
# 03 GETTING EVERYTHING FROM ibge_estimativa FILE THAT IS PRESENT WITH IN uf_list
ibge_estimativa = ibge_estimativa[ibge_estimativa['BRASIL E UNIDADES DA FEDERAÇÃO'].isin(uf_list)]

In [8]:
# 04 RENAMING COLUMNS
ibge_estimativa.columns = ['uf', 'populacao_estimada']

In [9]:
ibge_estimativa

                     uf populacao_estimada
2              Rondônia            1796460
3                  Acre             894470
4              Amazonas            4207714
5               Roraima             631181
6                  Pará            8690745
7                 Amapá             861773
8             Tocantins            1590248
10             Maranhão            7114598
11                Piauí       3.281.480(1)
12                Ceará       9.187.103(1)
13  Rio Grande do Norte            3534165
14              Paraíba            4039277
15           Pernambuco       9.616.621(2)
16              Alagoas       3.351.543(2)
17              Sergipe       2.318.822(3)
18                Bahia      14.930.634(3)
20         Minas Gerais           21292666
21       Espírito Santo            4064052
22       Rio de Janeiro           17366189
23            São Paulo           46289333
25               Paraná           11516840
26       Santa Catarina            7252502
27    Rio Grande do Sul           11422973
29   Mato Grosso do Sul            2809394
30          Mato Grosso            3526220
31                Goiás       7.113.540(4)
32     Distrito Federal       3.055.149(4)

#### !Challenge: read data directly from wikipedia from html version

In [10]:
wikipedia_url = 'https://pt.wikipedia.org/wiki/Lista_de_unidades_federativas_do_Brasil_por_popula%C3%A7%C3%A3o'
wikipedia_html_data = pd.read_html(wikipedia_url)

In [11]:
# 01 READING FIRST HTML TABLE THAT HAS BEEN FOUND BY PANDAS
wikipedia_html_data[0]

,Posição,Unidade federativa,População(Censo de 2010)[2],População(Prévia 2022),Mudança,% da pop. total,País comparável (habitantes)
0,1,São Paulo,41 262 199,46 024 937,+11.5%,"22,2%",Espanha (46 754 778)
1,2,Minas Gerais,19 597 330,20 732 660,+5.8%,"10,0%",Burquina Fasso (20 903 273)
2,3,Rio de Janeiro,15 989 929,16 615 526,+3.9%,"8,0%",Camboja (16 718 965)
3,4,Bahia,14 016 906,14 659 023,+4.6%,"7,1%",Zimbabwe (14 862 924)
4,5,Paraná,10 444 526,11 835 379,+13.3%,"5,7%",Tunísia (11 818 619)
5,6,Rio Grande do Sul,10 693 929,11 088 065,+3.7%,"5,3%",Cuba (11 326 616)
6,7,Pernambuco,8 796 448,9 051 113,+2.9%,"4,4%",Áustria (9 006 398)
7,8,Ceará,8 452 381,8 936 431,+5.7%,"4,3%",Papua-Nova Guiné (8 947 024)
8,9,Pará,7 581 051,8 442 962,+11.4%,"4,1%",Suíça (8 654 622)
9,10,Santa Catarina,6 248 436,7 762 154,+24.2%,"3,7%",Paraguai (7 132 538)
10,11,Goiás,6 003 788,6 950 976,+15.8%,"3,3%",Bulgária (6 948 445)
11,12,Maranhão,6 574 789,6 800 605,+3.4%,"3,3%",Bulgária (6 948 445)
12,13,Espírito Santo,3 514 952,4 108 508,+13.1%,"1,9%",Geórgia (3 989 167)
13,14,Paraíba,3 766 528,4 030 961,+7.0%,"1,9%",Geórgia (3 989 167)
14,15,Amazonas,3 483 985,3 952 262,+13.4%,"1,9%",Geórgia (3 989 167)
15,16,Mato Grosso,3 035 122,3 784 239,+24.7%,"1,8%",Geórgia (3 989 167)
16,17,Rio Grande do Norte,3 168 027,3 303 953,+4.3%,"1,6%",Uruguai (3 473 730)
17,18,Piauí,3 118 360,3 270 174,+4.9%,"1,6%",Bósnia e Herzegovina (3 280 819)
18,19,Alagoas,3 120 494,3 125 254,+0.2%,"1,5%",Mónaco (3 278 290)
19,20,Distrito Federal,2 570 160,2 923 369,+13.7%,"1,4%",Armênia (2 963 243)
20,21,Mato Grosso do Sul,2 449 024,2 833 742,+15.7%,"1,4%",Albânia (2 877 797)
21,22,Sergipe,2 068 017,2 211 868,+7.0%,"1,1%",Gabão (2 225 734)
22,23,Rondônia,1 562 409,1 616 379,+3.5%,"0,8%",Bahrein (1 701 575)
23,24,Tocantins,1 383 445,1 584 306,+14.5%,"0,8%",Guiné Equatorial (1 402 985)
24,25,Acre,733 559,829 780,+13.1%,"0,4%",Comores (869 601)
25,26,Amapá,669 526,774 268,+15.6%,"0,4%",Guiné (786 552)
26,27,Roraima,450 479,634 805,+40.9%,"0,3%",Montenegro (649 335)

### SECOND VIDEO

Getting data from last class to join

In [12]:
gastos_populacao = pd.read_csv('../data/02-pos-data-analytics-visualizacao-de-dados/gastos_mais_recentes.csv',
                              encoding='utf-8',
                              delimiter=';').round(2)
gastos_populacao.columns = ['uf', 'gasto_mais_recente']

#FIXING VALUES TO PERFORM THE MATCH LATER
gastos_populacao['uf'] = gastos_populacao['uf'].str[3:]
gastos_populacao = gastos_populacao.set_index('uf')

gastos_populacao.head()

          gasto_mais_recente
uf
Rondônia                7.37
Acre                    1.20
Amazonas               13.81
Roraima                 2.91
Pará                   20.84

In [13]:
#FIXING DATA TO MATCH
populacao['uf'] = populacao.uf.str.strip().tolist()
populacao = populacao.set_index('uf')

In [14]:
populacao.join(gastos_populacao)

                     populacao  gasto_mais_recente
uf
São Paulo             46024937              301.99
Minas Gerais          20732660              139.16
Rio de Janeiro        16615526               94.14
Bahia                 14659023               61.65
Paraná                11835379               91.19
Rio Grande do Sul     11088065               74.95
Pernambuco             9051113               71.63
Ceará                  8936431               35.65
Pará                   8442962               20.84
Santa Catarina         7762154               48.88
Goiás                  6950976               44.94
Maranhão               6800605               25.78
Espírito Santo         4108508               27.13
Paraíba                4030961               16.17
Amazonas               3952262               13.81
Mato Grosso            3784239               19.85
Rio Grande do Norte    3303953               16.81
Piauí                  3270174               15.22
Alagoas                3125254               11.39
Distrito Federal       2923369               22.16
Mato Grosso do Sul     2833742               11.30
Sergipe                2211868                4.64
Rondônia               1616379                7.37
Tocantins              1584306                2.30
Acre                    829780                1.20
Amapá                   774268                1.88
Roraima                 634805                2.91